# OS files
.DS_Store
**/.DS_Store

# Node dependencies
node_modules/
**/node_modules/

# Build output
/dist/
**/dist/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker / local runtime
*.local
